/*Font */
@import url("https://fonts.googleapis.com/css2?family=Carter+One&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgb(233, 131, 176);
  background: radial-gradient(circle, rgba(233, 131, 176, 1) 0%, rgba(148, 187, 233, 1) 100%);
  background-repeat: repeat-y;
}

.container {
  background-color: rgb(255, 255, 255, 0.1);
  background: radial-gradient(circle, rgba(233, 131, 176, 0.2), rgba(148, 187, 233, 0.2));
  margin: 20px auto;
  max-width: 1000px;
  min-height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "hero gallery";
  border-radius: 20px;
  border: 1px solid black;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.198);
}

.hero {
  grid-area: hero;
  display: grid;
  place-content: center;
}

.hero img {
  max-width: 90%;
  height: auto;
  padding-left: 5%;
  padding-top: 10%;
  filter: drop-shadow(-1px 2px 3px black);
}

.main {
  display: grid;
  gap: 10px;
}

.gallery {
  grid-area: gallery;
  display: inline-block;
}

.gallery img {
  max-width: 150px;
  filter: drop-shadow(1px 1px 2px black);
}

.caption h1,
h3 {
  padding: 0px 50px 10px 0px;
  color: rgb(0, 0, 0);
}

.caption h1 {
  display: flex;
  justify-content: flex-end;
  font-size: 3em;
  font-family: "Carter One", cursive;
}

.caption h3 {
  color: rgb(0, 0, 0);
  font-size: 0.9em;
  font-family: Arial, Helvetica, sans-serif;
}

/* Premium */
.premium {
  position: relative;
}

.premium img {
  filter: opacity(0.3) blur(2px);
}

.center {
  position: absolute;
  top: -40px;
  left: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-shadow: -3px -2px 3px rgb(255, 238, 0);
}

footer {
  display: flex;
  justify-content: center;
}
